html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 80px;
    background-image: url("../images/paper.png");
    background-size:100%;
    height: 100%;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: rgba(20, 10, 0, 0.5);
    color: aliceblue;
}

.navbar{
    margin-bottom: 0;
}

.jumbotron{
    position: relative;
    width: 100%;
    height: 500%;
    font-family: "Cormorant SC";
    padding: 0;
    box-shadow: 10px 5px 20px 2px lightslategrey; 
    color: aliceblue;
}

.jumbotron .overlay{
    background: linear-gradient(#333, black);
    position: relative;
    color: aliceblue;
    opacity: 0.7;
    z-index: auto;
    top: 0;
    left: 0;
}
.jumbotron{
    background: rgba(0, 0, 0, 0);
}
.caption {
	color: aliceblue;
}

.caption-over{
    color: aliceblue;
}